# Cricket Rankings

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
ICC = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
ICC

In [3]:
soup = BeautifulSoup(ICC.content,'html.parser')

In [4]:
team = soup.find_all(['span'], class_ = "u-hide-phablet")
ODI_Team = []

for i in team:
    ODI_Team.append(i.text.replace("\n",""))
ODI_Team= ODI_Team[:10]
ODI_Team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [5]:
title = soup.find_all(['span'], class_ = "u-hide-mobile")
Title = []

for i in title:
    Title.append(i.text.replace("\n",""))

Title

['Team', 'Matches', 'Points', 'Rating']

In [7]:
Mat = soup.find_all(['td'], class_ = "rankings-block__banner--matches")
Matches= []
for i in Mat:
    Matches.append(i.text.replace("\n",""))

Matches

['17']

In [8]:
pts = soup.find_all(['td'], class_ = "rankings-block__banner--points")
Points= []
for i in pts:
    Points.append(i.text.replace("\n",""))

Points

['2,054']

In [9]:
rtg = soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
Ratings= []
for i in rtg:
    Ratings.append(i.text.replace("\n",""))
Ratings= [i.split('                            ')[1]for i in Ratings ]   
Ratings

['121']

In [10]:
stat = soup.find_all(['td'], class_ = "table-body__cell u-center-text")
Stats = []

for i in stat:
    Stats.append(i.text.replace("\n",""))

In [12]:
Stats

['32',
 '3,793',
 '28',
 '3,244',
 '32',
 '3,624',
 '25',
 '2,459',
 '27',
 '2,524',
 '30',
 '2,740',
 '30',
 '2,523',
 '32',
 '2,657',
 '17',
 '1,054',
 '7',
 '336',
 '25',
 '1,145',
 '11',
 '435',
 '8',
 '308',
 '20',
 '764',
 '11',
 '330',
 '9',
 '190',
 '14',
 '232',
 '6',
 '97',
 '10',
 '0']

In [13]:
for i in range(0,len(Stats)):
    if i == 0 or  i/2 == i//2:
        Matches.append(Stats[i])    
    else:
        Points.append(Stats[i])
Points = Points[:10]
Matches= Matches[:10]

In [15]:
rat =soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in rat:
    Ratings.append(i.text.replace("\n",""))
Ratings= Ratings[:10]

In [16]:
import pandas as pd

ODI_TOP_10 = pd.DataFrame({Title[0]:ODI_Team, Title[1]:Matches, Title[2]: Points, Title[3]: Ratings})
ODI_TOP_10

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1       England      32  3,793    119
2     Australia      28  3,244    116
3         India      32  3,624    113
4  South Africa      25  2,459     98
5      Pakistan      27  2,524     93
6    Bangladesh      30  2,740     91
7   West Indies      30  2,523     84
8     Sri Lanka      32  2,657     83
9   Afghanistan      17  1,054     62

In [17]:
ICC_bat = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
ICC_bat

In [18]:
bat_soup = BeautifulSoup(ICC_bat.content,'html.parser')

In [19]:
nam = bat_soup.find_all(['div'], class_ = "rankings-block__banner--name")
banner_name = []

for i in nam:
    banner_name.append(i.text.replace("\n",""))
banner_name

['Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan',
 'Babar Azam',
 'Trent Boult',
 'Shakib Al Hasan']

In [20]:
nat = bat_soup.find_all(['div'], class_ = "rankings-block__banner--nationality")
natt = []

for i in nat:
    natt.append(i.text.replace("\n",""))
natt

['PAK873', 'NZ737', 'BAN416', 'PAK873', 'NZ737', 'BAN416']

In [21]:
rat = bat_soup.find_all(['div'], class_ = "rankings-block__banner--rating")
ratt = []

for i in rat:
    ratt.append(i.text.replace("\n",""))
ratt

['873', '737', '416', '873', '737', '416']

In [22]:
Batsman_name=[banner_name[0]]
Batsman_nation = [natt[0]]
Batsman_Rattings = [ratt[0]]
Bowler_name = [banner_name[1]]
Bowler_nation = [natt[1]]
Bowler_Rattings = [ratt[1]]

In [23]:
Nam = bat_soup.find_all(['td'], class_ = "table-body__cell name")
table_names = []
for i in Nam:
    table_names.append(i.text.replace("\n",""))
table_names = table_names[:18]
table_names

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [24]:
nat1 = bat_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1 = []
for i in nat1:
    Nat1.append(i.text.replace("\n",""))
Nat1 = Nat1[:18]
Nat1

['IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA']

In [25]:
rat1 = bat_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1 = []
for i in rat1:
    Rat1.append(i.text.replace("\n",""))
Rat1 = Rat1[:18]
Rat1

['844',
 '813',
 '801',
 '779',
 '775',
 '762',
 '758',
 '754',
 '747',
 '709',
 '708',
 '700',
 '692',
 '691',
 '679',
 '652',
 '650',
 '646']

In [26]:
for i in table_names[0:9]:
    Batsman_name.append(i)
for i in Nat1[0:9]:
    Batsman_nation.append(i)
for i in Rat1[0:9]:
    Batsman_Rattings.append(i)    
for i in table_names[9:18]:
    Bowler_name.append(i)
for i in Nat1[9:18]:
    Bowler_nation.append(i)
for i in Rat1[9:18]:
    Bowler_Rattings.append(i)

In [27]:
ODI_TOP_10_Batsman = pd.DataFrame({"Batsman_name":Batsman_name, "Batsman_nation":Batsman_nation, "Batsman_Rattings": Batsman_Rattings})
ODI_TOP_10_Bowler = pd.DataFrame({"Bowler_name":Bowler_name, "Bowler_nation":Bowler_nation, "Bowler_Rattings": Bowler_Rattings})

In [28]:
ODI_TOP_10_Batsman

      Batsman_name Batsman_nation Batsman_Rattings
0       Babar Azam         PAK873              873
1      Virat Kohli            IND              844
2     Rohit Sharma            IND              813
3      Ross Taylor             NZ              801
4      Aaron Finch            AUS              779
5   Jonny Bairstow            ENG              775
6     David Warner            AUS              762
7        Shai Hope             WI              758
8  Kane Williamson             NZ              754
9  Quinton de Kock             SA              747

In [29]:
ODI_TOP_10_Bowler

        Bowler_name Bowler_nation Bowler_Rattings
0       Trent Boult         NZ737             737
1    Josh Hazlewood           AUS             709
2  Mujeeb Ur Rahman           AFG             708
3      Chris Woakes           ENG             700
4      Mehedi Hasan           BAN             692
5        Matt Henry            NZ             691
6    Jasprit Bumrah           IND             679
7    Mitchell Starc           AUS             652
8   Shakib Al Hasan           BAN             650
9     Kagiso Rabada            SA             646