# Cricket Ratings (Women's)

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
ICC_womens = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
ICC_womens

In [4]:
soup = BeautifulSoup(ICC_womens.content,'html.parser')

In [5]:
w_team = soup.find_all(['span'], class_ = "u-hide-phablet")
ODI_w_Team = []

for i in w_team:
    ODI_w_Team.append(i.text.replace("\n",""))
ODI_w_Team= ODI_w_Team[:10]
ODI_w_Team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [6]:
w_title = soup.find_all(['span'], class_ = "u-hide-mobile")
Title_w = []

for i in w_title:
    Title_w.append(i.text.replace("\n",""))
    
w_Mat = soup.find_all(['td'], class_ = "rankings-block__banner--matches")
w_Matches= []
for i in w_Mat:
    w_Matches.append(i.text.replace("\n",""))

In [7]:
w_pts = soup.find_all(['td'], class_ = "rankings-block__banner--points")
w_Points= []
for i in w_pts:
    w_Points.append(i.text.replace("\n",""))

In [8]:
w_rtg = soup.find_all(['td'], class_ = "rankings-block__banner--rating u-text-right")
w_Ratings= []
for i in w_rtg:
    w_Ratings.append(i.text.replace("\n",""))
w_Ratings= [i.split('                            ')[1]for i in w_Ratings ] 

w_stat = soup.find_all(['td'], class_ = "table-body__cell u-center-text")
w_Stats = []

for i in w_stat:
    w_Stats.append(i.text.replace("\n",""))
    
    
for i in range(0,len(w_Stats)):
    if i == 0 or  i/2 == i//2:
        w_Matches.append(w_Stats[i])    
    else:
        w_Points.append(w_Stats[i])
w_Points = w_Points[:10]
w_Matches= w_Matches[:10]

w_rat = soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")

for i in w_rat:
    w_Ratings.append(i.text.replace("\n",""))
w_Ratings= w_Ratings[:10]

In [10]:
import pandas as pd

ODI_TOP_10_womens = pd.DataFrame({Title_w[0]:ODI_w_Team, Title_w[1]:w_Matches, Title_w[2]: w_Points, Title_w[3]: w_Ratings})

ODI_TOP_10_womens

           Team Matches Points Rating
0     Australia      21  3,379    161
1       England      25  2,983    119
2  South Africa      29  3,390    117
3         India      26  2,934    113
4   New Zealand      26  2,392     92
5   West Indies      22  1,872     85
6      Pakistan      20  1,496     75
7    Bangladesh       5    306     61
8     Sri Lanka      11    519     47
9       Ireland       2     25     13

In [11]:
ICC_Wom = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
ICC_Wom

In [12]:
player_w_soup = BeautifulSoup(ICC_Wom.content,'html.parser')

In [13]:
nam_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--name")
banner_name_w = []

for i in nam_w:
    banner_name_w.append(i.text.replace("\n",""))
banner_name_w

['Lizelle Lee', 'Jess Jonassen', 'Marizanne Kapp']

In [14]:
nat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--nationality")
natt_w = []

for i in nat_w:
    natt_w.append(i.text.replace("\n",""))

rat_w = player_w_soup.find_all(['div'], class_ = "rankings-block__banner--rating")
ratt_w = []

for i in rat_w:
    ratt_w.append(i.text.replace("\n",""))
    
Batsman_name_w=[banner_name_w[0]]
Batsman_nation_w= [natt_w[0]]
Batsman_Rattings_w= [ratt_w[0]]
allrounder_name_w= [banner_name_w[-1]]
allrounder_nation_w= [natt_w[-1]]
allrounder_Rattings_w= [ratt_w[-1]]    

Nam_w = player_w_soup.find_all(['td'], class_ = "table-body__cell name")
table_names_w = []
for i in Nam_w:
    table_names_w.append(i.text.replace("\n",""))


nat1_w = player_w_soup.find_all(['span'], class_ = "table-body__logo-text")
Nat1_w = []
for i in nat1_w:
    Nat1_w.append(i.text.replace("\n",""))

rat1_w = player_w_soup.find_all(['td'], class_ = "table-body__cell u-text-right rating")
Rat1_w = []
for i in rat1_w:
    Rat1_w.append(i.text.replace("\n",""))



for i in table_names_w[0:9]:
    Batsman_name_w.append(i)
for i in Nat1_w[0:9]:
    Batsman_nation_w.append(i)
for i in Rat1_w[0:9]:
    Batsman_Rattings_w.append(i)    
for i in table_names_w[18:27]:
    allrounder_name_w.append(i)
for i in Nat1_w[18:27]:
    allrounder_nation_w.append(i)
for i in Rat1_w[18:27]:
    allrounder_Rattings_w.append(i)

In [15]:
ODI_TOP_10_Batsman_w = pd.DataFrame({"Batsman_name_W":Batsman_name_w, "Batsman_nation_w":Batsman_nation_w, "Batsman_Rattings_w": Batsman_Rattings_w})
ODI_TOP_10_allrounder_w = pd.DataFrame({"allrounder_name_w":allrounder_name_w, "allrounder_nation_w":allrounder_nation_w, "allrounder_Rattings_w": allrounder_Rattings_w})

In [16]:
ODI_TOP_10_Batsman_w

      Batsman_name_W Batsman_nation_w Batsman_Rattings_w
0        Lizelle Lee            SA761                761
1       Alyssa Healy              AUS                750
2        Mithali Raj              IND                738
3     Tammy Beaumont              ENG                728
4  Amy Satterthwaite               NZ                717
5    Smriti Mandhana              IND                710
6        Meg Lanning              AUS                699
7        Beth Mooney              AUS                690
8     Heather Knight              ENG                674
9    Laura Wolvaardt               SA                672

In [17]:
ODI_TOP_10_allrounder_w

  allrounder_name_w allrounder_nation_w allrounder_Rattings_w
0    Marizanne Kapp               SA384                   384
1    Natalie Sciver                 ENG                   372
2      Ellyse Perry                 AUS                   365
3   Stafanie Taylor                  WI                   322
4     Deepti Sharma                 IND                   299
5  Ashleigh Gardner                 AUS                   275
6  Dane van Niekerk                  SA                   274
7     Jess Jonassen                 AUS                   272
8   Katherine Brunt                 ENG                   272
9    Jhulan Goswami                 IND                   251