#  IMDB Top 100 Indian Movies

In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
indian_movies = requests.get("https://www.imdb.com/list/ls056092300/")
indian_movies

In [4]:
soup = BeautifulSoup(indian_movies.content,'html.parser')

In [7]:
ind_movie = soup.find_all(['h3'], class_ = "lister-item-header")
ind_movie_fullname = []

for i in ind_movie:
    ind_movie_fullname.append(i.text.replace("\n",""))
  
ind_movie_fullname = [i.split('.',1)[1] for i in ind_movie_fullname]
ind_movie_name = [i.split('(')[0] for i in ind_movie_fullname]
Year = [i.split('(')[-1] for i in ind_movie_fullname]
Year = [i.split(')')[0] for i in Year]

In [9]:
rate = soup.find_all(['div'], class_ = "ipl-rating-star small")
ratings = []

for i in rate:
    ratings.append(i.get_text().replace('\n',''))

In [10]:
import pandas as pd


Top_rated_100_Indianmovies=pd.DataFrame({"Name":ind_movie_name, "IMDB_rating": ratings, "Year":Year })
Top_rated_100_Indianmovies

                                 Name IMDB_rating  Year
0                     Ship of Theseus         8.1  2012
1                              Iruvar         8.5  1997
2                     Kaagaz Ke Phool           8  1959
3   Lagaan: Once Upon a Time in India         8.1  2001
4                     Pather Panchali         8.5  1955
..                                ...         ...   ...
95                        Apur Sansar         8.5  1959
96                        Kanchivaram         8.1  2008
97                    Monsoon Wedding         7.4  2001
98                              Black         8.2  2005
99                            Deewaar         8.1  1975

[100 rows x 3 columns]